.home-not-logged-in {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    height: 300px;
    border-radius: 5px;
    box-shadow: -4px 0px 10px rgba(43, 43, 43, 0.6);
}
.home-logged-in {
    position: relative;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    height: 50%;
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(43, 43, 43, 0.2);
    overflow: hidden;
    padding-top: 10px;
}
#home-msg-button {
    width: 65px;
    margin: 0 auto;
    background-color: #406e8e;
    border-color: #406e8e;
}
#home-jobs-button {
    width: 150px;
    margin: 20px 50px;
    background-color: #406e8e;
    border-color: #406e8e;
}
#home-companies-button {
    width: 150px;
    margin: 20px 50px;
    background-color: #406e8e;
    border-color: #406e8e;
}
#home-msg-button:focus, #home-jobs-button:focus, #home-companies-button:focus {
    box-shadow: 0px 0px 1px 2px #8EA8C3;
}
.home-row {
    height: 80vh
}
.logged-in-home-img {
    max-width: 100%;
    max-height: 100%;
    margin: 10px 10px 0px;
}
.logged-in-msg {
    display: block;
}